In this project, we'll focus on the mindset of a conservative investor who only wants to invest in the loans that have a good chance of being paid off on time.

### Define the problem statement for this machine learning project:

- Can we build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?

In [12]:
# import pandas as pd

# # removing the first line because it contains extraneous text
# loans_2007 = pd.read_csv("LoanStats3a.csv", skiprows=1)

# # removing the `desc` (long text explanation), and `url`(only accessed by investor)
# loans_2007 = loans_2007.drop(['desc', 'url'], axis=1)

# # removing all columns containing more than 50% missing values
# half_count = len(loans_2007) / 2

# loans_2007 = loans_2007.dropna(thresh=half_count, axis=1)

# loans_2007.to_csv('loans_2007_myone.csv', index=False)

In [13]:
loans_2007 = pd.read_csv("loans_2007.csv")
loans_2007.head()

c:\python36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [14]:
loans_2007.shape

(42538, 52)

In [15]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
id                            42538 non-null object
member_id                     42535 non-null float64
loan_amnt                     42535 non-null float64
funded_amnt                   42535 non-null float64
funded_amnt_inv               42535 non-null float64
term                          42535 non-null object
int_rate                      42535 non-null object
installment                   42535 non-null float64
grade                         42535 non-null object
sub_grade                     42535 non-null object
emp_title                     39909 non-null object
emp_length                    41423 non-null object
home_ownership                42535 non-null object
annual_inc                    42531 non-null float64
verification_status           42535 non-null object
issue_d                       42535 non-null object
loan_status                   42535 non-null object
pymnt_plan                    42535 non-null object
purpose                       42535 non-null object
title                         42522 non-null object
zip_code                      42535 non-null object
addr_state                    42535 non-null object
dti                           42535 non-null float64
delinq_2yrs                   42506 non-null float64
earliest_cr_line              42506 non-null object
inq_last_6mths                42506 non-null float64
open_acc                      42506 non-null float64
pub_rec                       42506 non-null float64
revol_bal                     42535 non-null float64
revol_util                    42445 non-null object
total_acc                     42506 non-null float64
initial_list_status           42535 non-null object
out_prncp                     42535 non-null float64
out_prncp_inv                 42535 non-null float64
total_pymnt                   42535 non-null float64
total_pymnt_inv               42535 non-null float64
total_rec_prncp               42535 non-null float64
total_rec_int                 42535 non-null float64
total_rec_late_fee            42535 non-null float64
recoveries                    42535 non-null float64
collection_recovery_fee       42535 non-null float64
last_pymnt_d                  42452 non-null object
last_pymnt_amnt               42535 non-null float64
last_credit_pull_d            42531 non-null object
collections_12_mths_ex_med    42390 non-null float64
policy_code                   42535 non-null float64
application_type              42535 non-null object
acc_now_delinq                42506 non-null float64
chargeoff_within_12_mths      42390 non-null float64
delinq_amnt                   42506 non-null float64
pub_rec_bankruptcies          41170 non-null float64
tax_liens                     42430 non-null float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB

# Let's break up the columns into 3 groups of 18 columns

We will pay attention to any features that:
- leak information from the future (after the loan has already been funded)
- don't affect a borrower's ability to pay back a loan (e.g. a randomly generated ID value by Lending Club)
- formatted poorly and need to be cleaned up
- require more data or a lot of processing to turn into a useful feature
- contain redundant information

### First group of features
After analyzing each column in the first group, we can conclude that the following features need to be removed:
- `id`
- `member_id`
- `funded_amnt`
- `funded_amnt_inv`
- `grade`
- `sub_grade`
- `emp_title`
- `issue_d`

In [16]:
# id and member_id are already removed previously due to 50% of missing values
loans_2007  = loans_2007.drop(["id","member_id","funded_amnt","funded_amnt_inv","grade","sub_grade","emp_title","issue_d"], axis=1)

### Second group of features
 The group of features to be removed
- `zip_code`
- `out_prncp`
- `out_prncp_inv`
- `total_pymnt`
- `total_pymnt_inv`
- `total_rec_prncp`

In [17]:
loans_2007 = loans_2007.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)

### Thrid group of features

In the last group of columns, we need to drop the following columns:
- `total_rec_int`
- `total_rec_late_fee`
- `recoveries`
- `collection_recovery_fee`
- `last_pymnt_d`
- `last_pymnt_amnt`

All of these columns leak data from the future, meaning that they're describing aspects of the loan after it's already been fully funded and started to be paid off by the borrower.

In [18]:
loans_2007 = loans_2007.drop(["total_rec_int",
"total_rec_late_fee",
"recoveries",
"collection_recovery_fee",
"last_pymnt_d",
"last_pymnt_amnt"], axis=1)

print(loans_2007.iloc[0])
print(loans_2007.shape[1])

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Jun-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object
32

# Target Column

We use the `loan_status` column, since it's the only column that directly describes if a loan was paid off on time, had delayed payments, or was defaulted on the borrower.

In [19]:
loans_2007['loan_status'].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

Since we're interested in predicting which of these 2 values a loan will fall under and only the `Fully Paid` and `Charged Off` values describe the final outcome of the loan, we can treat the problem as a <b>binary classification</b>

In [20]:
loans_2007 = loans_2007[(loans_2007["loan_status"]=="Fully Paid") | (loans_2007["loan_status"]=="Charged Off")]

status_replace = {
    "loan_status":{
        "Fully Paid": 1,
        "Charged Off": 0 
    }
}

loans_2007 = loans_2007.replace(status_replace)

In [21]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,f,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,n,...,f,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

### Removing single value columns

Let's look for any columns that contain only one unique value and remove them. These columns won't be useful for the model since they don't add any information to each loan application

First, drop the null values then compute the number of unique values:

In [22]:
drop_columns = list()

for col in loans_2007.columns:
    col_series = loans_2007[col].dropna().unique()
    
    if len(col_series) == 1:
        drop_columns.append(col)
        
loans_2007 = loans_2007.drop(drop_columns, axis=1)
print(drop_columns)

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']

In [23]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,credit_card,...,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,Jun-2016,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,car,...,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,Sep-2013,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,Jun-2016,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,other,...,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,Apr-2016,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,wedding,...,0.0,Nov-2004,3.0,9.0,0.0,7963.0,28.3%,12.0,Jan-2016,0.0

In [24]:
loans_2007.to_csv("filtered_loans_2007.csv", index=False)

In [51]:
loans = pd.read_csv("filtered_loans_2007.csv")
null_counts = loans.isnull().sum()
print(null_counts)

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

## Handling Missing Values

In [52]:
loans = loans.drop(["pub_rec_bankruptcies"], axis=1)

loans = loans.dropna(axis=0)

print(loans.dtypes.value_counts())

object     11
float64    10
int64       1
dtype: int64

## Converting Text Columns to Numerical data types

In [53]:
object_columns_df = loans.select_dtypes(include=["object"])
object_columns_df.head()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
4,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016

Some of the columns seem like they represent categorical values:
- `home_ownership`
- `verification_status`
- `emp_length`
- `term`
- `addr_state`
- `purpose`
- `title`

For `purpose` and `title`, it seems like these columns could reflect the same information.

There are also some columns that represent numeric values, that need to be converted:
- `int_rate`
- `revol_util`

Lastly, some of the columns contain date values that would require a good amount of feature engineering for them to be potentially useful:
- `earliest_cr_line`
- `last_credit_pull_d`

Since these date features require some feature engineering for modeling purposes, let's remove these date columns from the Dataframe.

## First 5 categorical columns
Let's explore the unique value counts of the columnns that seem like they contain categorical values.

In [54]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']
for col in cols:
    print(loans[col].value_counts(), end="\n-----\n")

RENT        18112
MORTGAGE    16686
OWN          2778
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
-----
Not Verified       16281
Verified           11856
Source Verified     9538
Name: verification_status, dtype: int64
-----
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64
-----
 36 months    28234
 60 months     9441
Name: term, dtype: int64
-----
CA    6776
NY    3614
FL    2704
TX    2613
NJ    1776
IL    1447
PA    1442
VA    1347
GA    1323
MA    1272
OH    1149
MD    1008
AZ     807
WA     788
CO     748
NC     729
CT     711
MI     678
MO     648
MN     581
NV     466
SC     454
WI     427
OR     422
LA     420
AL     420
KY     311
OK     285
KS     249
UT     249
AR     229
DC     209
RI     194
NM     180
WV     164
HI     162
NH     157
DE     110
MT      77
AK      76
WY      76
SD      60
VT      53
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
-----

The `home_ownership`, `verification_status`, `emp_length`, `term`, and `addr_state` columns all contain multiple discrete values. We should clean the `emp_length` column and treat it as a numerical one since the values have ordering (2 years of employment is less than 8 years).

Let's look at the unique value counts for the purpose and title columns

In [55]:
print(loans["purpose"].value_counts())
print("----")
print(loans["title"].value_counts())

debt_consolidation    17751
credit_card            4911
other                  3711
home_improvement       2808
major_purchase         2083
small_business         1719
car                    1459
wedding                 916
medical                 655
moving                  552
house                   356
vacation                348
educational             312
renewable_energy         94
Name: purpose, dtype: int64
----
Debt Consolidation                                       2068
Debt Consolidation Loan                                  1599
Personal Loan                                             624
Consolidation                                             488
debt consolidation                                        466
Credit Card Consolidation                                 345
Home Improvement                                          336
Debt consolidation                                        314
Small Business Loan                                       298
Credit Card Loan                                          294
Personal                                                  290
Consolidation Loan                                        250
Home Improvement Loan                                     228
personal loan                                             219
Loan                                                      202
Wedding Loan                                              199
personal                                                  198
Car Loan                                                  188
consolidation                                             186
Other Loan                                                168
Wedding                                                   148
Credit Card Payoff                                        144
Credit Card Refinance                                     140
Major Purchase Loan                                       131
Consolidate                                               124
Medical                                                   111
Credit Card                                               110
home improvement                                          101
Credit Cards                                               91
My Loan                                                    90
                                                         ...
uniquesites                                                 1
Cleaning out the Credit Cards                               1
Credit card dept consolidation                              1
Haiti Relief funding for t-shirts                           1
race trailer                                                1
6/2/2011                                                    1
The Trees                                                   1
wheels                                                      1
trying to pay of my bill!!!                                 1
Try #2                                                      1
CONSOLIDATE DEBTS                                           1
Coin-Op Billiard                                            1
Personal/ Consolidation                                     1
Take the interest away from my Credit Card companies!       1
honest borrower                                             1
Debt Consolidate 2010                                       1
Finish the Job                                              1
Need better rate!!                                          1
CREDIT CARD RELIEF                                          1
get ahead of bills until July                               1
Dream Wedding for my lil girl                               1
private owner car purchase                                  1
Cosmetic Surgery Loan                                       1
Kangen Water Appliance                                      1
MIA                                                         1
startup home business Mary Kay                              1
Resident Physician Moving Loan                              1
HOme Improvement deer Creek road                            1
Last semester of grad school                                1
Personal Emergency                                          1
Name: title, Length: 18881, dtype: int64

It seems like the `purpose` and `title` columns do contain overlapping information but we'll keep the `purpose` column since it contains a few discrete values. In addition, the `title` column has data quality issues since many of the values are repeated with slight modifications (e.g. `Debt Consolidation` and `Debt Consolidation Loan` and `debt consolidation`).

Remove the `last_credit_pull_d`, `addr_state`, `title`, and `earliest_cr_line` columns from loans.

The `home_ownership`, `verification_status`, `emp_length`, and `term` columns each contain a few discrete categorical values. We should encode these columns as dummy variables and keep them.

Convert the `int_rate` and `revol_util` columns to float columns.

In [56]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

loans = loans.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)

loans['int_rate'] = loans['int_rate'].str.rstrip('%').astype('float')

loans['revol_util'] = loans['revol_util'].str.rstrip('%').astype('float')

loans= loans.replace(mapping_dict)

Let's now encode the `home_ownership`, `verification_status`, `purpose`, and `term` columns as dummy variables and then drop the original columns entirely so we can use them in our model.

In [57]:
cat_columns = ["home_ownership", "verification_status", "purpose", "term"]

dummy_df = pd.get_dummies(loans[cat_columns])

loans = pd.concat([loans, dummy_df], axis=1)

loans = loans.drop(cat_columns, axis=1)

In [58]:
loans.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,...,0,0,0,1,0,0,0,0,1,0
4,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,...,0,0,0,0,0,0,0,1,1,0

In [59]:
loans.to_csv("cleaned_loans_2007.csv", index=False)

In [60]:
cleaned_loans = pd.read_csv("cleaned_loans_2007.csv")

print(cleaned_loans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37675 entries, 0 to 37674
Data columns (total 38 columns):
loan_amnt                              37675 non-null float64
int_rate                               37675 non-null float64
installment                            37675 non-null float64
emp_length                             37675 non-null int64
annual_inc                             37675 non-null float64
loan_status                            37675 non-null int64
dti                                    37675 non-null float64
delinq_2yrs                            37675 non-null float64
inq_last_6mths                         37675 non-null float64
open_acc                               37675 non-null float64
pub_rec                                37675 non-null float64
revol_bal                              37675 non-null float64
revol_util                             37675 non-null float64
total_acc                              37675 non-null float64
home_ownership_MORTGAGE                37675 non-null int64
home_ownership_NONE                    37675 non-null int64
home_ownership_OTHER                   37675 non-null int64
home_ownership_OWN                     37675 non-null int64
home_ownership_RENT                    37675 non-null int64
verification_status_Not Verified       37675 non-null int64
verification_status_Source Verified    37675 non-null int64
verification_status_Verified           37675 non-null int64
purpose_car                            37675 non-null int64
purpose_credit_card                    37675 non-null int64
purpose_debt_consolidation             37675 non-null int64
purpose_educational                    37675 non-null int64
purpose_home_improvement               37675 non-null int64
purpose_house                          37675 non-null int64
purpose_major_purchase                 37675 non-null int64
purpose_medical                        37675 non-null int64
purpose_moving                         37675 non-null int64
purpose_other                          37675 non-null int64
purpose_renewable_energy               37675 non-null int64
purpose_small_business                 37675 non-null int64
purpose_vacation                       37675 non-null int64
purpose_wedding                        37675 non-null int64
term_ 36 months                        37675 non-null int64
term_ 60 months                        37675 non-null int64
dtypes: float64(12), int64(26)
memory usage: 10.9 MB
None